<div class="col-4 card border-0 compra" id="{{p}}">
    <div class="card-body">
        <h5 class="card-title text-center">{{p}}</h5>
    </div>
    <img class="card-img-top mx-auto w-50" src="img/{{p}}.png" alt="Card image cap">
</div>