
.compra {
    transition: opacity 1s;
    cursor: pointer;
}
.compra.active {
    opacity: 0.5;
}

.badge {
    position: relative;
    top: -10px;
    left: -15px;
    background-color: rgb(228, 13, 13);
    border: 1px solid rgb(228, 13, 13);
    border-radius: 50%;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 25px;
     }
     h5 {
        font-size: 15px;
     }
  }